@import url(./_left/auth-form__other-action_left.css);

.auth-form__other-action {
  font-family: Roboto;
  font-size: 0.87rem;
  display: block;
  text-align: center;
  color: black;
}

.auth-form__other-action .auth-form__other-action-click {
  color: #2f71e5;
  text-decoration: none;
  cursor: pointer;
}
