.card__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  margin: 0;
  margin-top: 12px;
  font-size: 1.6rem;
  line-height: 1.2;
}

@media screen and (max-width: 1023px) {
  .card__title {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .card__title {
    margin-top: 10px;
  }
}
